
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/**************************************
 HEADER 
***************************************/

header{
    position: relative;
}


/* nav mobile version */

#nav-container-mobile-tablet{
    background-color: rgba(0,132,253,255);
    width: 100%;
    height: 12vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-container-desktop{
    display: none;
}

.logo{
    height: 50%;
    margin-left: 30px;
}

.menu{
    color: white;
    font-size: 30px;
    margin-right: 30px;
}



/* nav tablet version */

@media screen and (min-width:481px){
    
    #nav-container-mobile-tablet{
        height: 9vh;
    }

    #nav-container-desktop{
        display: none;
    }
}



/* nav desktop version */

@media screen and (min-width:769px){
    
    #nav-container-desktop{
        background-color: rgba(0,132,253,255);
        width: 100%;
        height: 8vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    #nav-container-mobile-tablet{
        display: none;
    }

    #subcontainer{
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #right-nav{
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .white-button{
        background-color: white;
        color: black;
        padding: 10px 15px;
        border-radius: 10px;
    }
}








/**************************************
 MAIN 
***************************************/

/* Developer */

.container-developer{
    padding: calc(12vh + 30px) 20px 0;
    display: block;

}

.developer{
    background-color: rgba(181,221,255,255);
    width: 100%;
    border-radius: 20px;
    padding: 60px 40px 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#demo{
    align-items: flex-start;
    padding-bottom: 0;
}

#demo  h2, #demo p{
    text-align: left
}

.container-developer h2{
    color: rgba(0,132,253,255);
}

.blue-button{
    background-color: rgba(0,132,253,255);
    color: white;
    padding: 10px 60px;
    border-radius: 20px;
}    

#phone{
    width: 90%;
}


.blue-icon{
    color: rgba(0,132,253,255);
    font-size: 70px;
}



/* nav tablet version */

@media screen and (min-width:481px){
   
    .container-developer{
        padding: calc(9vh + 30px) 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;    
    }

    .developer{
        width: 30%;
    }

    #demo{
        align-items: flex-start;
        padding-bottom: 0;
        width: 65%;
    }
}
